@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <fieldset>
        <legend>Add Employee</legend>
        <form method="post">
            Enter Id: <input type="text" name="c1" /> <br />
            Enter name: <input type="text" name="c2" /> <br />
            Enter city: <input type="text" name="c3" /> <br />
            Enter Address: <input type="text" name="c4" /> <br />
            <input type="submit" value="Add Employee" /><br />
        </form>
    </fieldset>
</div>