@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <fieldset>
        <legend>Delete Employee</legend>
        <form method="post">
            Enter Id: <input type="text" name="d1" /> <br />
            <input type="submit" value="Delete Employee" /><br />
        </form>
    </fieldset>
</div>