@using BOL.Employee;
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <fieldset>
        <legend>Gett All Employee</legend>
        <form method="get">
            <input type="submit" value="Find Employee" /><br />
        </form>
    </fieldset>
    @{
        List<Employee> list = (List<Employee>) ViewData["b1"];
        <ol>
            @foreach(Employee e in list){
                <li>@e.Id @e.Name @e.City @e.Address</li>
            }
        </ol>
    }
</div>