@{
    ViewData["Title"] = "Home Page";
}
<script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</script>

<header>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="AddEmp">AddEmp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="DeleteEmp">DeleteEmp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="UpdateEmp">UpdateEmp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="FindEmp">FindEmp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="GetAll">GetAll</a>
        </li>
    </ul>
</header>