@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <fieldset>
        <legend>Update Employee</legend>
        <form method="post">
            Enter Id: <input type="text" name="u1" /> <br />
            Enter name: <input type="text" name="u2" /> <br />
            Enter city: <input type="text" name="u3" /> <br />
            Enter Address: <input type="text" name="u4" /> <br />
            <input type="submit" value="Update Employee" /><br />
        </form>
    </fieldset>
</div>