@{
    ViewData["Title"] = "Home Page";
}
<script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentDemo.styles.css" asp-append-version="true" />
</script>

<frameset>
    <legend>Add Student</legend>
  <form method="post">
    Enter Id: <input type="text" name="d1"> <br> <br>
    <input type="submit" value="Delete Student"> <br><br>
  </form>
</frameset>

