@{
    ViewData["Title"] = "Add Page";
}
<script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentApp.styles.css" asp-append-version="true" />
</script>
    <div>
      <fieldset>
        <legend>Add Student</legend>
        <form method="post">
          Enter Id: <input type="text" name="c1" /> <br />
          Enter Fname: <input type="text" name="c2" /> <br />
          Enter Lname: <input type="text" name="c3" /> <br />
          Enter Std: <input type="text" name="c4" /> <br />
          <input type="submit" value="Add Student" /><br />
        </form>
      </fieldset>
    </div>
